body{
    font: 20px Relay, sans-serif;
}

.navbar{
    background-color: blueviolet;
}

.emily-class{
    background-color: cornsilk;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-class{
    background-color: black;
    color: white;
}

.dog-img{
    width: 300px;
    height: 300px;
}

.pinga-class{
    background-color: rgb(175, 223, 220);
    padding-top: 30px;
    padding-bottom: 30px;
}